.hero {
  padding: 40px 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 996px) {
    padding: 2rem;
  }
}

.hero__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__badges {
  margin-top: 50px;
}
